body {
    margin: 0;
    padding: 0;
    background-color: #d7d1d1;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgb(250, 250, 250);
    scroll-padding: 40px;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid grey;
}

#logo {
    display: flex;
    align-items: center;
}

#linkedin {
    width: 30px;
    height: 30px;
    margin-left: 150px;
}

#search {
    border-radius: 20px;
    border: 1px solid black;
    height: 35px;
    width: 250px;
    margin-left: 10px;
    padding-left: 35px;
}

#l2 {
    margin-left: -30px;
    width: 18px;
}

.l1 {
    width: 22px;
    height: 22px;
    margin-left: 45px;
    cursor: pointer;
}

#nav-link{
    text-decoration: none;
    color: rgb(120, 119, 119);
    margin-left: -22px;
    font-size: 14px;
    display: flex;
    margin-top: 40px;
    margin-right: 20px;
}


.link{
    margin-left: 30px;
}




#section1{
    background-color: #ffffff;
    width: 210px;
    height: 240px;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 10px;
}


.c1{
    height: 70px;
    background-color: rgb(37, 74, 37);
    /* border-top-right-radius: 10px; */
    /* border-right: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid black;
}

#r1{
    width: 30px;
    height: 50px;
}


#r1 img{
    width: 50px;
    height: 60px;
    margin-top: 30px;
    padding: 10px 20px;
}

h4{
     margin-top: 60px;
     margin-left: 10px;
}

h5{
    margin-top: -20px;
    margin-left: 10px;
    color: rgb(62, 61, 61);
    font-size: small;
    font-family: sans-serif;
}

h6{
    font-size: smaller;
    color: grey;
    font-family: sans-serif;
    margin-top: -20px;
    margin-left: 10px;
}

#h4{
    margin-top: -10px;
    padding-left: 70px;
}

#section2{
    background-color: #ffffff;
    width: 650px;
    height: 140px;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 10px;
}

.card1 {
    display: flex;
    justify-content: center;
}

/* section 2 of c2 img */
#section2 img{
    width: 40px;
    height: 50px;
    padding: 20px;
}


#post{
    width: 400px;
    height: 30px;
    margin-top: -70px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding-left: 100px;
    margin-left: 100px;
    color: gray;
}

#post  input:placeholder-shown{
    margin-left: -40px;
    color: black;
    font-size: large;
}


.icn{
    margin-left: 90px;
    width: 20px;
    height: 10px;
}


#icon-text{
        margin-top: 35px;
}

.media{
    display: flex;
    justify-content: center;
}


img.icn {
    margin-left: 40px;
}


#section3{
    background-color: #ffffff;
    width: 390px;
    height: 640px;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 10px;
}

.para h3{
    margin-left: 20px;
    margin-top: 20px;
    font-family: sans-serif;
}

#profile-pic{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50%;
}

a{
   text-decoration: none;
    color: black;
    font-family: sans-serif;
    margin-left: 20px;
}

h3#h {
    font-size: large;
    color: gray;
    margin-left: 20px;
    margin-top: -1px;
}


#show{
    font-size: large;
    margin-left: 20px;
}

.company p{
    margin-left: 20px;
    color: gray;
    font-size: large;
    font-family: sans-serif;
}

.block{
    display: flex;
    justify-content: flex-start;
}

img#puzz {
    width: 390px;
}

.section4{
    width: 210px;
    height: 100px;
    background-color: white;
    border-color: gray;
    border-radius: 10px;
    /* display: flex;
    justify-content: center; */
    margin-top: -390px;
    margin-left: 124px;
}

p{
    font-size: smaller;
    color: gray;
    padding-left: 20px;
}

strong{
    margin-left: 20px;
}

.section5{
    width: 210px;
    height: 100px;
    background-color: white;
    border-color: gray;
    border-radius: 10px;
    justify-content: flex-start;
    font-size: medium;
    margin-left: -210px;
    margin-top: -280px;
}

nav{
    padding-top: 20px;
    font-weight: bold;
    margin-left: 20px;
    font-size: medium;
}

div #no{
    color: aqua;
    margin-top: -20px;
    margin-left: 150px;
}

#sec6{
    width: 210px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
}

#img1{
    width: 25px;
    height: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

a .lbox{
    font-family: sans-serif;
    font-size: smaller;
}

.mbox{
   display: flex;
   justify-content: center;
}

#main{
    width: 650px;
    border-radius: 10px;
    height: 100;
    border-radius: 10px;
    background-color: white;
    margin-top: -500px;
    margin-left: 10px;
}

#main img{
    margin-top: 20px;
    margin-left: 20px;
}

#pbox{
    margin-top: -30px;
}

#main img{
    width: 40px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
}

#main h4{
    font-size: medium;
    margin-left: 90px;
    margin-top: -30px;
}

#main h3{
    margin-left: 550px;
    margin-top: -50px;
}


img#capp {
    width: 600px;
    height: 500px;
}